body {
  background-color:#203354;
}
.hero{
  height:800px;
}
.boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  padding:20px;
  margins:150px;
}
.comicbox, .foreignifybox, .project3, .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11, .project12, .project13, .project14, .project15 {
  height:320px;
  background-color:#23395d;
  border-radius:6px;
  padding-left: 25px;
}
.skillbox {
  background-color: grey;
  padding: 2px;
  border-radius: 6px;
  display: inline-block;
}
