body {
  background-color:#203354
}
.hero{
  height:800px;
}
.boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  padding:20px;
  margins:50px;
}
.comicbox, .foreignifybox, .project3, .project4 {
  height:320px;
  background-color:#23395d
}
